.informationimage{
    display: flex;
}
.informationimage__wrapper{
    position: relative;
    max-width: 100%;
}
.informationimage__background{
    position: relative;
    z-index: 1;
    max-width: 100%;
}
.informationimage__box{
    --angle: 9px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 430px;
    width: 100%;
    padding: 15px 7px;
    backdrop-filter: blur(10px);

    clip-path: polygon( 
        var(--angle) 0, 
        calc(100% - var(--angle)) 0, 
        100% var(--angle), 
        100% calc(100% - var(--angle)),  
        calc(100% - var(--angle)) 100%,
        var(--angle) 100%,
        0 calc(100% - var(--angle)),
        0 var(--angle)
    );
}
.informationimage__avatar{}
