@import "@root/scss/mixins.scss";

.xoxo{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    min-height: 777px;
    padding-top: 144px;
    padding-bottom: 138px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.xoxo__background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media (max-width: 1440px){
        object-fit: cover;
        object-position: top;
    }
}

// Container
.xoxo__container{
    position: relative;
    z-index: 2;
    max-width: 840px;

    @media (max-width: 991px){
        padding: 0 40px;
    }
    @media (max-width: 414px){
        padding: 0 15px;
    }
}
.xoxo__content{
    text-align: center;

    h2{
        @include monument(800){
            font-size: 70px;
            line-height: 1;
            /* identical to box height */
            color: #fff;

            text-transform: uppercase;
        }
    }
    p{
        @include monument(800){
            font-size: 14px;
            line-height: 1.5;

            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: #FFFFFF;

        }

        &.big{
            margin-top: 53px;
        }
        &.small{
            max-width: 682px;
            margin: 58px auto 0;
            font-size: 10px;
            line-height: 1.8;
            font-weight: 400;
            
            color: #FFFFFF;
        }
    }

    @media (max-width: 768px){
        h2{
            font-size: 53px;
        }
        p{
            font-size: 11px;

            &.small{
                margin-top: 44px;
            }
        }
    }
    @media (max-width: 374px){
        h2{
            font-size: 45px;
        }
    }
}