@import "@root/scss/mixins.scss";

.mintworkspace{
    margin-top: 25px;
    padding: 0 23px;
    max-width: 512px;
    width: 100%;
}
.mintworkspace__wrapper{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;

    padding: 32px 59px 31px 26px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mintworkspace__header{
    display: flex;
    align-items: center;
}
.mintworkspace__display{
    position: relative;
    width: 51.34px;
    height: 51.34px;
    background: rgba(#262129, .67);
    /* 1 */
    
    border: 2px solid #47C3E7;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    i{
        display: block;
        width: 3.46px;        
        height: 3.46px;
        background: #FFFFFF;        
        border: 0.865794px solid #47C3E7;
        position: absolute;

        &:nth-child(1){
            right: 100%;
            bottom: 100%;
        }
        &:nth-child(2){
            left: 100%;
            bottom: 100%;
        }
        &:nth-child(3){
            left: 100%;
            top: 100%;
        }
        &:nth-child(4){
            right: 100%;
            top: 100%;
        }
    }

    span{
        @include monument(400);
        transform: translateY(2px);
        font-size: 19px;
        line-height: 1.2;

        text-transform: uppercase;

        color: #FFFFFF;

        -webkit-text-stroke: 1px #47C3E7;
    }
}
.mintworkspace__controls{
    margin-left: 11.6px;
    display: flex;
    flex-direction: column;
}
.mintworkspace__controls-btn{
    width: 23px;
    height: 23px;
    background: rgba(#262129, .67);
    position: relative;
    cursor: pointer;

    + .mintworkspace__controls-btn{
        margin-top: 5px;
    }

    &::after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.minus{
        &::after{            
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
    &.plus{
    }
    &.disabled{
        pointer-events: none;
        background: rgba(#5e5e5e, .67);
    }
}
.mintworkspace__btn{
    margin-top: 29px;
    width: 100%;
    max-width: 368px;
    min-height: 47px;

    span strong{
        display: inline-block;
        @include jakarta(700);
    }
}