@import "@root/scss/mixins.scss";

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 164px;
    max-width: 100%;
    overflow: hidden;

    @media (max-width: 991px){
        padding-bottom: 135px;
    }
}
.team__title{
    position: relative;

    i{
        width: 21px;
        height: 21px;
        position: absolute;
        z-index: 1;

        &::after,
        &::before{
            content: "";
            display: block;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after{
            width: 100%;
            height: 3px;
        }
        &::before{
            height: 100%;
            width: 3px;
        }

        &:nth-child(1){
            top: 0;
            right: calc(100% + 34px);
            transform: translateY(-50%);
        }
        &:nth-child(2){
            top: 0;
            left: calc(100% + 24px);
            transform: translateY(-50%);
        }
        &:nth-child(3){
            right: calc(100% + 34px);
            bottom: 0;
        }
        &:nth-child(4){
            left: calc(100% + 24px);
            bottom: 0;
        }
    }

    span{
        @include monument(800){
            font-size: 88px;
            line-height: 1.2;

            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: #fff;
        }
    }
    @media (max-width: 1151px){
        span{
            font-size: 75px;
        }
    }
    @media (max-width: 991px){
        i{      
            width: 13px;
            height: 13px;

            &::after{
                height: 1.8px;
            }
            &::before{
                width: 1.8px;
            }

            &:nth-child(1){
                top: 0;
                right: calc(100% + 27px);
                transform: translateY(-50%);
            }
            &:nth-child(2){
                top: 0;
                left: calc(100% + 10px);
                transform: translateY(-50%);
            }
            &:nth-child(3){
                right: calc(100% + 27px);
                bottom: 0;
            }
            &:nth-child(4){
                left: calc(100% + 10px);
                bottom: 0;
            }
        }

        span{
            font-size: 65px;
        }
    }
    @media (max-width: 656px){
        span{
            font-size: 50px;
        }
    }
    @media (max-width: 465px){
        span{
            font-size: 35px;
        }

        i{            
            &:nth-child(1){
                top: 0;
                right: calc(100% + 12px);
                transform: translateY(-50%);
            }
            &:nth-child(2){
                top: 0;
                left: calc(100% + 9px);
                transform: translateY(-50%);
            }
            &:nth-child(3){
                right: calc(100% + 12px);
                bottom: 0;
            }
            &:nth-child(4){
                left: calc(100% + 9px);
                bottom: 0;
            }
        }
    }
}
.team__container{
    margin-top: 113px;
    max-width: 1310px;
    width: 100%;

    @media (max-width: 1121px){
    }

    @media (max-width: 991px){
        margin-top: 90px;
    }
    @media (max-width: 768px){
        width: 747px;
    }
}
.team__wrapper{
    display: flex;
}
.team__swiper{
    overflow: visible;

    .swiper-slide{
        opacity: 1;
        transition: opacity .2s ease;
        height: auto;
    }
}
.team__grid{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 0 25px;
    margin: -24px auto 0;

    .team-item{
        flex: 0 0 25%;
        margin-top: 24px;
    
        @media (max-width: 1095px){
            flex-basis: 33.3333%;
        }
    }
}

// Team item
:root{
    --angle: 5px;
}

@mixin backgroundTextPolygon {
    clip-path: polygon(var(--angle) 0, calc(100% - var(--angle)) 0, 100% var(--angle), 100% calc(100% - var(--angle)), calc(100% - var(--angle)) 100%, var(--angle) 100%, 0 calc(100% - var(--angle)), 0 var(--angle));   

    @media (max-width: 991px){         
    }
}

.team-item{
    padding: 0 8px;
    overflow: hidden;
    height: auto;

    @media (max-width: 768px){
        height: 100%;
    }
}
.team-item__content-wrapper{
    position: relative;
    background: #0C0E25;
    backdrop-filter: blur(34.696px);
    width: 100%;
    height: 100%;

    @include backgroundTextPolygon;
}
.team-item__rhombus{
    position: absolute;
    z-index: 1;

    &_1{
        top: 2.5px;
        left: 2.5px;
    }
    &_2{
        top: 2.5px;
        right: 2.5px;
        transform: scaleX(-1);
    }
    &_3{
        bottom: 2.5px;
        right: 2.5px;
        transform: scale(-1);
    }
    &_4{
        bottom: 2.5px;
        left: 2.5px;
        transform: scaleY(-1);
    }
}
.team-item__content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 20px 22px;
    height: 100%;

    text-align: center;

    @media (max-width: 865px){
        padding: 15px 20px 17px;
    }
}
.team-item__avatar{
    width: 173px;
    height: 173px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    background: #02030F;

    img{
        max-width: 100%;
    }

    @media (max-width: 865px){
        width: 137px;
        height: 137px;
    }
}
.team-item__name{
    margin-top: 13px;
    font-size: 21px;
    line-height: 1.055;
    text-transform: uppercase;
    font-weight: 400;

    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    
    color: #FFFFFF;

    @media (max-width: 865px){
        margin-top: 11px;

        font-size: 16px;
    }
}
.team-item__title{
    margin-top: 5px;

    font-size: 16px;
    line-height: 1.055;
    text-transform: uppercase;
    font-weight: 400;
    
    color: #FFFFFF;

    @media (max-width: 865px){
        margin-top: 4px;

        font-size: 12.6px;
    }
}
.team-item__description{
    margin-top: 10px;
    
    @include jakarta(400){        
        font-size: 10px;
        line-height: 1.4;
    }

    letter-spacing: 0.04em;

    color: #FFFFFF;

    @media (max-width: 865px){
        margin-top: 8px;

        font-size: 8px;
    }
}
.team-item__socials{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-item__socials-link{
    margin-top: 20px;

    width: 34.69px;
    height: 34.69px;
    background: #fff;
    backdrop-filter: blur(34.696px);
    border-radius: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        max-width: 13px;
        max-height: 13px;
    }

    + .team-item__socials-link{
        margin-left: 20px;
    }

    @media (max-width: 865px){
        margin-top: 15px;

        width: 27.43px;
        height: 27.43px;

        img{
            max-width: 10px;
            max-height: 10px;
        }
    }
}