@import "@root/scss/mixins.scss";

.types{
    padding-top: 167px;
    padding-bottom: 140px;
    overflow: hidden;
    position: relative;

    @media (max-width: 1440px){
        background-size: cover;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 991px){
        padding-top: 130px;
    }
    @media (max-width: 768px){
        padding-top: 100px;
        padding-bottom: 70px;
    }
}
.types__background{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 816px;
}
.types__title{
    text-align: center;
    position: relative;
    z-index: 3;

    @include monument(800){
        font-size: 88px;
        line-height: 1.2;

        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #fff;
    }
    @media (max-width: 768px){
        font-size: 65px;
    }
    @media (max-width: 575px){
        font-size: 50px;
    }
    @media (max-width: 414px){
        font-size: 43px;
    }
    @media (max-width: 359px){
        font-size: 37px;
    }
}
.types__container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}
.types__row{
    display: flex;
    align-items: center;
    // transition: transform .5s linear;

    + .types__row{
        margin-top: 35px;

        @media (max-width: 768px){
            margin-top: 25px;
        }
    }
}
.types__item{
    width: 290px;
    height: 285px;
    margin: 0 -5px;
    position: relative;

    // &:not(.min):after{
    //     content: "";
    //     display: block;
    //     width: 90%;
    //     height: 90%;
    //     border: 14.1476px solid #47C3E7;
    //     filter: blur(69.4521px);
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     z-index: 2;
    // }

    &.min{
        width: 256px;
        height: 253px;
        margin: 0;
        opacity: 0.5;
    }

    @media (max-width: 768px){
        width: 246.5px;
        height: 242.25px;
        margin: 0 -4px;

        &.min{
            width: 217.6px;
            height: 215.05px;
        }
    }

    @media (max-width: 565px){
        width: 214px;
        height: 210px;    
        margin: 0 -3px;

        &.min{
            width: 198px;
            height: 187px;
        }    
    }
}