@import "@root/scss/mixins.scss";

.types{
    padding-top: 167px;
    padding-bottom: 140px;
    overflow: hidden;
    background-size: 100% 816px;
    background-repeat: no-repeat;
    background-position: center top;

    @media (max-width: 1440px){
        background-size: cover;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 991px){
        padding-top: 130px;
    }
    @media (max-width: 768px){
        padding-top: 100px;
        padding-bottom: 70px;
    }
}
.types__title{
    text-align: center;

    @include monument(800){
        font-size: 88px;
        line-height: 1.2;

        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #fff;
    }
    @media (max-width: 768px){
        font-size: 65px;
    }
    @media (max-width: 575px){
        font-size: 50px;
    }
    @media (max-width: 414px){
        font-size: 43px;
    }
    @media (max-width: 359px){
        font-size: 37px;
    }
}
.types__container{
    margin-top: 50px;
    max-width: 88%;

    @media (min-width: 1440px){
        max-width: 1100px;
    }
    @media (max-width: 656px){
        margin-top: 32px;
        max-width: 110%;
    }
    @media (max-width: 404px){
        max-width: unset;
        width: 650px;
    }
}
.types__slider{
    overflow: visible;

    .swiper-slide{
        opacity: 0.5;
        transform: scale(88.4%);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;

        @media (max-width: 656px){
            opacity: 1;
            transform: scale(1);            
        }
    }
    .swiper-slide-active-cls{
        opacity: 1;
        transform: scale(1);
    }
}
.types__item{
    img{
        min-width: 103%;
    }
}