.mint{
    position: relative;
    min-height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mint__sidebar{    
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}
.mint__mintbtn{
    position: absolute;
    top: 16px;
    right: 15px;
    z-index: 5;
}